* {
  box-sizing:border-box;
}
html{
  background: black;
}

body{
  max-width: 70em;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em rgba(68,68,68,0.6);
}

img{
    max-height: 15em;
}

h1, p, h2{
   font-family: 'Roboto', sans-serif;
    margin-left: 4%;
}

h2{
    color: crimson;
}

h1{
    border: solid;
    text-align: center;
    border-color: dimgrey;
    padding: 1em;
    
}

ol li{
display: inline-block;
}

ol:last-child{
    display: none;
}

ol:last-child.yay{
    display: inline-block;
}