* {
    box-sizing: border-box;
}

/* general styles */

html,
body {
    font-family: 'roboto', helvetica, arial, sans-serif;
    background-color: white;
    margin: 0 auto;
    max-width: 90%;
    overflow-x: hidden;
}

/* text styles */

h1 {
    background-color: darkblue;
    color: white;
    padding: 1rem;
    text-align: center;
}

h2 {
    font-family: Roboto;
    font-size: 1.5rem;
    text-align: center;
    color: darkblue;
}

p {
    font-family: Roboto;
    font-size: 1rem;
    text-align: center;
    color: darkblue;
}

/* section + article styles */

section {
    width: 300rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;

}

article {
    width: 30rem;
    float: left;
    padding: 25px;
    background-color: ghostwhite;
}

article img {
    width: 25rem;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/*stijling buttons */

button {
    font-size: 1.3rem;
    color: black;
    background-color: white;
    margin: 0 0.5rem;
    border: 2px solid rgba(60, 60, 67, 0.214);
    box-shadow: 0 5px 10px 0 rgba(0, 58, 150, 0.15);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 15rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#verderButton,
#terugButton {
    background-color: #FFFFFF;
    color: #808080;
    width: 50px;
    height: 50px;
}

#verderButton:hover {
    background-color: #808080;
    color: #ffffff;
    cursor: pointer;
}

#terugButton:hover {
    background-color: #808080;
    color: #ffffff;
    cursor: pointer;
}

#footballButton {
    padding: 1rem;
    font-family: 'roboto', helvetica, arial, sans-serif;
    color: darkblue;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*image styling*/

img:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 0);
    transition-delay: .5s;
    -webkit-transition-delay: 0s;
    transform: scale(1.05);
}
